header {
  background: rgb(0, 100, 200);
  display: flex;
  align-items: center;
}

section {
  box-shadow: -1px 12px 20px 1px rgba(0,0,0,0.63);
  padding: 4em;
  min-height: 60vh;
}
nav {
  width: 100%;
}

nav ul {
  display: flex;
  justify-content: space-around;
}

nav a {
  display: block;
  background: rgb(255, 255, 255);
  padding: 1em;
}


#section01 {
  background: url('images/bg-section-01.jpg') no-repeat top center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
  #section01 h1{
    background: black;
    color: #fff;
    font-size: 6em;
  }

  #section03 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

.cat-info-card {
  border: 1px solid rgb(0, 0, 0);
  margin: 1em;
  padding: 1em;
  background: rgb(200, 200, 200);
  border-radius: 1em;
  flex-basis: 320px;
  flex-grow: 1;
}
